<div class="main_header">
  <div class="group_name">Vetements</div>
  <div class="chat_end">
    <a href=aaa>チャットを終了する</a>
  </div>
</div>

<div class="main_middle">
  <div class="message">
    <div class="upper_message">
      <div class="user_name">
        demna
      </div>
      <div class="date">
      2020/1/3(wed) 12:43:30
      </div>
    </div>
    <div class="lower_message">  
      <div class="user_comment">
      Good morning
      </div>
    </div>
  </div> 

  <div class="message">
    <div class="upper_message">
      <div class="user_name">
        demna
      </div>
      <div class="date">
       2020/1/3(wed) 12:59:30
      </div>
    </div>
    <div class="lower_message">  
      <div class="user_comment">
        Good evening
      </div>
    </div> 
  </div>
</div> 


<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

