
<div class="side_header">
  <div class="header_name">
    <a href="aaa">Tom</a>
  </div>
  <div class="header_new">
    <a href="bbb">チャットを作成する</a>
  </div>
</div>

<div class="side_main">
 <div class="chat_room">
  <div class="chat_name">
    <a href="bbb">tearoom1</a>
  </div>
 </div>
  <div class="chat_room">
   <div class="chat_name">
    <a href="bbb">tearoom2</a>
  </div>
 </div>
</div>